* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-aside {
    width: 30%;
    height: 600px;
    background-color: blue;
    float: left;
}

.container-main {
    width: 60%;
    height: 300px;
    background-color: red;
    float: left;
}

.container-footer {
    width: 60%;
    height: 300px;
    background-color: orange;
    float: left;
}